---
layout: index
---

<ul class="posts">
  {% for post in site.posts %}
  <li class="post">
    <a href="{{ site.baseurl }}{{ post.url }}" class="post-link">
      <h2 class="post-title" title="{{ post.title }}">
        {{ post.title }} 
      </h2>
      <span class="meta">
        <time>{{ post.date | date_to_string }}</time>
        - {{ post.minutes/60 }}:{{ post.minutes%60 }} horas - {{ post.solved }} problema{% if post.solved != 1 %}s{% endif %}<br />
      </span>
    </a>
  </li>
  {% endfor %}
</ul>
